.information {
  position: relative;
  padding-block: 80px 100px;
  max-width: 1366px;
  margin: auto;
}

.information__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  padding-inline: 72px;
}

.information__header__text {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  user-select: none;
}

.information__header__text-accent {
  font-weight: 600;
  color: var(--color-orange);
}

.information__header__image {
  width: 394px;
  height: 250px;
}

.information__body {
  display: grid;
  grid-template-columns: 42% 58%;
  grid-column-gap: 17px;
  grid-row-gap: 0px;
  padding-inline: 45px 75px;
}

.information__body__title {
  max-width: 704px;
  margin-top: 47px;
  grid-area: 1 / 2 / 2 / 3;
}

.information__body__image {
  display: block;
  width: 528px;
  height: 609px;
  object-fit: contain;
  object-position: center;
  grid-area: 1 / 1 / 4 / 2;
}

.information__body__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: fit-content;
  max-width: 704px;
  margin-top: 60px;
  grid-area: 2 / 2 / 3 / 3;
}

.information__body__content-element {
  font-size: 20px;
  width: 50%;
  height: 56px;
}

.information__body__content-element {
  padding-block: 16px;
}

.information__body__content-element:nth-child(odd) {
  border-right: 2px solid var(--color-border-gray);
  opacity: 0.7;
}

.information__body__content-element:nth-child(odd) {
  border-right: 2px solid var(--color-border-gray);
}

.information__body__content-element:nth-child(even) {
  padding-left: 16px;
}

.information__body__content-element:nth-child(odd).strike-text {
  border-right: 2px solid transparent;
  opacity: 1;
}

.information__body__content-element:not(:last-child):not(:nth-child(9)) {
  border-bottom: 2px solid var(--color-border-gray);
}

.information__body__link {
  height: fit-content;
  margin-top: 48px;
  font-size: 20px;
  color: var(--color-blue);
  grid-area: 3 / 2 / 4 / 3;
}

@media (max-width: 1125px) {
  .information__body__content {
    margin-top: 0px;
  }

  .information__header__text {
    font-size: 28px;
  }

  .information__header__image {
    width: 260px;
    height: auto;
    margin-top: 24px;
  }

  .information__body__content-element {
    font-size: 16px;
  }

  .information__body__link {
    margin-top: 0px;
    font-size: 16px;
  }
}

@media (max-width: 955px) {
  .information__header {
    gap: 0px;
  }

  .information__body {
    grid-template-columns: auto;
    grid-column-gap: 17px;
    grid-row-gap: 0px;
    padding-inline: 72px;
  }

  .information__body__title {
    grid-area: auto;
    margin-top: 24px;
  }

  .information__body__image {
    grid-area: auto;
    margin: 21px auto 0px;
  }

  .information__body__content {
    grid-area: auto;
    margin: 60px auto 0px;
  }

  .information__body__content-element {
    font-size: 20px;
  }

  .information__body__link {
    grid-area: auto;
    margin-top: 60px;
  }
}

@media (max-width: 740px) {
  .information__body__content {
    margin: 28px auto 0px;
  }

  .information__body__content-element {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .information__body__content-element:not(:last-child):not(:nth-child(9)) {
    border-bottom: 2px solid transparent;
  }

  .information__body__content-element:nth-child(even) {
    padding: 12px 0 16px;
  }

  .information__body__content-element:nth-child(even):not(:last-child) {
    border-bottom: 2px solid var(--color-border-gray);
  }

  .information__body__content-element:nth-child(odd) {
    padding-top: 16px;
    border-right: 2px solid transparent;
  }

  .information__body__link {
    margin-top: 28px;
  }
}

@media (max-width: 600px) {
  .information {
    padding-block: 48px 60px;
  }

  .information__header {
    padding-inline: 20px;
  }

  .information__header__text:nth-of-type(2) {
    margin-top: 24px;
    display: block;
  }

  .information__body {
    padding-inline: 0px;
  }

  .information__body__image {
    width: 100%;
    height: auto;
  }

  .information__body__title {
    padding-inline: 20px;
  }

  .information__body__content {
    padding-inline: 20px;
  }

  .information__body__link {
    padding-inline: 20px;
    font-size: 18px;
  }
}
